html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
#nav_div{
    
    height: 9vh;

}
#div1{
    background-image: url("../img/div_img/banner_bg.jpg");
    height:100vh;
    background-attachment: fixed;
    background-repeat:no-repeat;
    /* image-resolution:initial; */

}
#div1_text{
    text-align: center;
}

#div2{
    background-image: url("../img/div_img/about-bg.jpg");
    height:100vh;
    background-attachment: fixed;
    background-repeat:no-repeat;
    /* image-resolution:initial; */
}
