html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
#nav_div{
    
    height: 9vh;

}
#div1{
    background-image: url("../img/div_img/banner_bg.jpg");
    height:100vh;
    background-attachment: fixed;
    background-repeat:no-repeat;
    /* image-resolution:initial; */

}
#div1_text{
    text-align: center;
}

#div2{
    background-image: url("../img/div_img/about-bg.jpg");
    height:100vh;
    background-attachment: fixed;
    background-repeat:no-repeat;
    /* image-resolution:initial; */
}

#div3{
    background-color: rgba(255, 254, 254, 0.479);
    height:100vh;
    background-attachment: fixed;
    background-repeat:no-repeat;
    /* image-resolution:initial; */
}

#div4{
    background-color: rgba(201, 156, 32, 0.877);
    height:100vh;
    
    background-attachment: fixed;
    padding-top:120px !important;
    padding-left: 270PX !important;
    padding-right: 270px !important;
    /* background-repeat:no-repeat; */

}
#div5{
    background-image: url("../img/div_img/blog-bg.jpg");
    height:100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat;
    /* image-resolution:initial; */


}
#div6{
    background-color: rgba(201, 156, 32, 0.877);
    height:100vh;
    
    background-attachment: fixed;
    padding-top:120px !important;
    padding-left: 270PX !important;
    padding-right: 270px !important;
    /* background-repeat:no-repeat; */

}
